<% content_for :head do %>
  <%= javascript_pack_tag 'main_vue' %>
  <%= stylesheet_pack_tag 'main_vue' %>
<% end %>

<div id ="main">
  <account
    current_user_id="<%= @user_id.to_s %>"
    current_account_id="<%= @account_id.to_s %>"
    accounts_id="<%= @accounts.to_json %>"
  >
  </account>
</div>
